@charset "UTF-8";

body
{
	background-color: #2ec27e!important;
}

.container lable
{
	font-family: sans-serif !important;
	font-style: oblique !important;
	font-variant: normal !important;
}

.container textarea
{
	width: 700px !important;
	height: 250px !important;
	font-family:sans-serif !important;
	font-size: 15px !important;
	 
}

.container
{
	margin-left: 620px !important;
}

button
{
	margin-left: 150px !important;
	border:2px solid black !important;
	
}
button:hover {
	background-color: #392467 !important;
	color: #f6f6f6 !important;
}